.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.reportee {
    font-weight: bold;
    font-style: italic;
}

.spacer {
    flex: 1 1 auto;
}

#video-comments-container {
    max-height: 440px;
    overflow-y: auto;
}
