<h2 mat-dialog-title>Copy Report</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
        <mat-label>Select Referee</mat-label>
        <mat-select [(value)]="reportee">
            <mat-option *ngFor="let r of reportees" [value]="r.reportee">{{r.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <p>A new video report will be created containing all comments from the existing source video report.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button [mat-dialog-close]="null">Cancel</button>
    <button color="primary" mat-flat-button [mat-dialog-close]="reportee">Copy</button>
</mat-dialog-actions>
