<div xmlns="http://www.w3.org/1999/html">
    <mat-toolbar color="primary">
        <h1>Referee Coach</h1>
        <span class="spacer"></span>
        <a routerLink="/settings" mat-icon-button>
            <mat-icon>settings</mat-icon>
        </a>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
                <form (ngSubmit)="searchGame()" role="form">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Game Number (e.g., 21-03520)</mat-label>
                        <input [(ngModel)]="gameNumberInput" autocomplete="off" matInput name="gameNumber" type="text">
                    </mat-form-field>
                    <button color="primary" mat-flat-button type="submit">Search</button>
                </form>

                <div *ngIf="game && youtubeIdInputNeeded">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>YouTube URL</mat-label>
                        <input [(ngModel)]="youtubeUrlInput" (ngModelChange)="parseYouTubeUrl()" autocomplete="off" matInput name="youtubeUrl" type="text">
                    </mat-form-field>
                </div>

                <form (ngSubmit)="createVideoReport()" role="form" *ngIf="game">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Referee</mat-label>
                        <mat-select [(value)]="reportee">
                            <mat-option *ngFor="let r of reportees" [value]="r.reportee">{{r.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button color="primary" mat-flat-button [disabled]="!reportee || !youtubeId">Start</button>
                </form>
                <div *ngIf="problemDescription">
                    {{problemDescription}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-progress-bar mode="indeterminate" *ngIf="!reportsLoaded"></mat-progress-bar>

            <mat-form-field appearance="standard" *ngIf="reportsLoaded">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)">
            </mat-form-field>

            <table mat-table [dataSource]="videoReportDtos" *ngIf="reportsLoaded">
                <ng-container matColumnDef="finished">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm></th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                        <i *ngIf="element.finished" class="material-icons">check_circle_outline</i>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Date</th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>{{element.basketplanGame.date | date: 'dd.MM.yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="gameNumber">
                    <th mat-header-cell *matHeaderCellDef>Game Number</th>
                    <td mat-cell *matCellDef="let element">{{element.basketplanGame.gameNumber}}</td>
                </ng-container>

                <ng-container matColumnDef="competition">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Competition</th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>{{element.basketplanGame.competition}}</td>
                </ng-container>

                <ng-container matColumnDef="teams">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Teams</th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-xs>
                        {{element.basketplanGame.teamA}} - {{element.basketplanGame.teamB}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="coach">
                    <th mat-header-cell *matHeaderCellDef>Coach</th>
                    <td mat-cell *matCellDef="let element"
                        [class]="isCurrentUser(element.reporter) ? 'current-user' : ''">
                        {{element.reporter.name}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="reportee">
                    <th mat-header-cell *matHeaderCellDef>Referee</th>
                    <td mat-cell *matCellDef="let element">{{getReportee(element)}}</td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="edit(element)" *ngIf="isEditable(element)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="copy">
                    <th mat-header-cell *matHeaderCellDef>Copy</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="copy(element)">
                            <mat-icon color="primary">content_copy</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>View</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="view(element)">
                            <mat-icon color="primary">open_in_new</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Delete</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="delete(element)" *ngIf="isDeletable(element)">
                            <mat-icon color="primary">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [colSpan]="displayedColumns.length">No data</td>
                </tr>
            </table>
            <mat-paginator [pageSize]="10"
                           [pageSizeOptions]="[10, 20, 50]"
                           showFirstLastButtons>
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
