<div xmlns="http://www.w3.org/1999/html">
    <mat-toolbar color="primary">
        <span>Referee Coach</span>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
                <form (ngSubmit)="searchGame()" role="form">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Game Number (e.g., 21-03520)</mat-label>
                        <input [(ngModel)]="gameNumber" autocomplete="off" matInput name="gameNumber" type="text">
                    </mat-form-field>
                    <button color="primary" mat-flat-button type="submit">Search</button>
                </form>
                <div *ngIf="ready">
                    <form (ngSubmit)="createVideoExpertise()" role="form">
                        <mat-form-field appearance="fill">
                            <mat-label>Reportee</mat-label>
                            <mat-select [(value)]="reportee">
                                <mat-option *ngFor="let r of reportees" [value]="r.reportee">{{r.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button color="primary" mat-flat-button [disabled]="!reportee">Start</button>
                    </form>
                </div>
                <div *ngIf="!ready && problemDescription">
                    {{problemDescription}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <table mat-table [dataSource]="videoReportDtos">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.basketplanGame.date | date}}</td>
        </ng-container>

        <ng-container matColumnDef="competition">
            <th mat-header-cell *matHeaderCellDef>Competition</th>
            <td mat-cell *matCellDef="let element">{{element.basketplanGame.competition}}</td>
        </ng-container>

        <ng-container matColumnDef="teams">
            <th mat-header-cell *matHeaderCellDef>Teams</th>
            <td mat-cell *matCellDef="let element">{{element.basketplanGame.teamA}}
                - {{element.basketplanGame.teamB}}</td>
        </ng-container>

        <ng-container matColumnDef="reportee">
            <th mat-header-cell *matHeaderCellDef>Reportee</th>
            <td mat-cell *matCellDef="let element">{{getReportee(element)}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="'edit/' + element.id" *ngIf="!element.finished">
                    <mat-icon color="primary">edit</mat-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef>View</th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="'view/' + element.id">
                    <mat-icon color="primary">open_in_new</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
