<div>
  <mat-toolbar>
    <span>Video Expertise</span>
    <button *ngIf="model.expertise" mat-icon-button>
      <mat-icon (click)="save()">save</mat-icon>
    </button>
    <button *ngIf="model.expertise?.id" mat-icon-button>
      <a [href]="'/#/view/' + model.expertise?.id" mat-raised-button target="_blank">View</a>
    </button>
  </mat-toolbar>

  <div>
    <mat-card *ngIf="!model.expertise">
      <mat-card-content>
        <form (ngSubmit)="searchGame()" role="form">
          <mat-form-field appearance="outline">
            <mat-label>Game Number (e.g., 21-07707)</mat-label>
            <input [(ngModel)]="model.gameNumber" autocomplete="off" matInput name="gameNumber" type="text">
          </mat-form-field>
          <button mat-raised-button type="submit">Search</button>
        </form>
      </mat-card-content>
    </mat-card>

    <div *ngIf="model.expertise" fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="48%">
        <mat-card>
          <mat-card-title>Game Info</mat-card-title>
          <mat-card-content>
            <mat-grid-list cols="4" rowHeight="30px">
              <mat-grid-tile colspan="2">Competition: {{model.expertise.basketplanGame.competition}}</mat-grid-tile>
              <mat-grid-tile>Date: {{model.expertise.basketplanGame.date}}</mat-grid-tile>
              <mat-grid-tile>Result: {{model.expertise.basketplanGame.result}}</mat-grid-tile>
              <mat-grid-tile colspan="2">Team A: {{model.expertise.basketplanGame.teamA}}</mat-grid-tile>
              <mat-grid-tile colspan="2">Team B: {{model.expertise.basketplanGame.teamB}}</mat-grid-tile>
              <mat-grid-tile colspan="4">Umpire 1: {{model.expertise.basketplanGame.referee1}}</mat-grid-tile>
              <mat-grid-tile colspan="4">Umpire 2: {{model.expertise.basketplanGame.referee2}}</mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="48%">
        <mat-card>
          <mat-card-title>Comments</mat-card-title>

          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>Image, Approach, Fitness Condition</mat-label>
              <textarea [(ngModel)]="model.expertise.imageComment"
                        cdkAutosizeMaxRows="5"
                        cdkAutosizeMinRows="1"
                        cdkTextareaAutosize
                        matInput></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>2PO Mechanics & Individual Officiating Techniques</mat-label>
              <textarea [(ngModel)]="model.expertise.mechanicsComment"
                        cdkAutosizeMaxRows="5"
                        cdkAutosizeMinRows="1"
                        cdkTextareaAutosize
                        matInput></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Critera: Fouls & Violations</mat-label>
              <textarea [(ngModel)]="model.expertise.foulsComment"
                        cdkAutosizeMaxRows="5"
                        cdkAutosizeMinRows="1"
                        cdkTextareaAutosize
                        matInput></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Game Control and Management</mat-label>
              <textarea [(ngModel)]="model.expertise.gameManagementComment"
                        cdkAutosizeMaxRows="5"
                        cdkAutosizeMinRows="1"
                        cdkTextareaAutosize
                        matInput></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Points to Keep</mat-label>
              <textarea [(ngModel)]="model.expertise.pointsToKeepComment"
                        cdkAutosizeMaxRows="5"
                        cdkAutosizeMinRows="1"
                        cdkTextareaAutosize
                        matInput></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Points to Improve</mat-label>
              <textarea [(ngModel)]="model.expertise.pointsToImproveComment"
                        cdkAutosizeMaxRows="5"
                        cdkAutosizeMinRows="1"
                        cdkTextareaAutosize
                        matInput></textarea>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <mat-card *ngIf="model.expertise && !model.expertise.basketplanGame.youtubeId">
      <mat-card-content>
        <form (ngSubmit)="loadVideo()" role="form">
          <mat-form-field appearance="outline">
            <mat-label>YouTube Link</mat-label>
            <input [(ngModel)]="model.youtubeLink" autocomplete="off" matInput name="youtubeLink" type="text">
          </mat-form-field>
          <button mat-button type="submit">Load Video</button>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="model.expertise && model.expertise.basketplanGame.youtubeId">
      <mat-card-header>
        <mat-card-title>Video</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="48%">
            <mat-card>
              <mat-card-content>
                <youtube-player #youtubePlayer [videoId]="model.expertise.basketplanGame.youtubeId"></youtube-player>
              </mat-card-content>
              <mat-card-actions>
                <button (click)="addVideoComment()" mat-raised-button>Create comment for current timestamp</button>
              </mat-card-actions>
            </mat-card>
          </div>

          <div fxFlex="48%">
            <mat-card *ngFor="let videoComment of model.expertise.videoComments; index as i;">
              <mat-card-title>Video Comment #{{i + 1}}</mat-card-title>
              <mat-card-content>
                <mat-form-field appearance="fill">
                  <mat-label>Comment</mat-label>
                  <textarea [(ngModel)]="videoComment.comment"
                            cdkAutosizeMaxRows="5"
                            cdkAutosizeMinRows="1"
                            cdkTextareaAutosize
                            matInput></textarea>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button (click)="jumpTo(videoComment.timestamp)" mat-raised-button>Jump to Scene</button>
                <button (click)="deleteComment(videoComment)" mat-raised-button>Delete Comment</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
