<mat-toolbar color="primary">
    Referee Coach - Login
</mat-toolbar>

<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form role="form" (ngSubmit)="login()" [formGroup]="loginForm">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Email</mat-label>
                <input type="text"
                       autocomplete="off"
                       matInput
                       name="email"
                       id="email"
                       formControlName="email"/>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Password</mat-label>
                <input type="password"
                       autocomplete="off"
                       matInput
                       name="password"
                       formControlName="password"
                       id="password"/>
            </mat-form-field>
            <button color="primary" mat-flat-button [disabled]="authenticating">Login</button>
        </form>
    </mat-card-content>
</mat-card>
