<div>
    <div *ngIf="dto">
        <mat-toolbar color="primary">
            Video Report
        </mat-toolbar>

        <mat-card>
            <mat-card-title>Game Info</mat-card-title>
            <mat-card-content>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
                    <span>Competition: {{dto.basketplanGame.competition}}</span>
                    <span>Date: {{dto.basketplanGame.date | date:'dd.MM.yyyy' }}</span>
                    <span>Result: {{dto.basketplanGame.result}}</span>
                    <span>Team A: {{dto.basketplanGame.teamA}}</span>
                    <span>Team B: {{dto.basketplanGame.teamB}}</span>
                </div>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" *ngIf="is3PO()">
                    <span [ngClass]="isFirstUmpire() ? 'reportee' : ''">Crew Chief: {{dto.basketplanGame.referee1}}</span>
                    <span [ngClass]="isSecondUmpire() ? 'reportee' : ''">Umpire 1: {{dto.basketplanGame.referee2}}</span>
                    <span [ngClass]="isThirdUmpire() ? 'reportee' : ''">Umpire 2: {{dto.basketplanGame.referee2}}</span>
                </div>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" *ngIf="is2PO()">
                    <span [ngClass]="isFirstUmpire() ? 'reportee' : ''">Umpire 1: {{dto.basketplanGame.referee1}}</span>
                    <span [ngClass]="isSecondUmpire() ? 'reportee' : ''">Umpire 2: {{dto.basketplanGame.referee2}}</span>
                </div>
            </mat-card-content>
        </mat-card>

        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
            <mat-card fxFlex.gt-md="33%">
                <mat-card-title>Image, Approach, Fitness Condition</mat-card-title>
                <mat-card-content><p>{{dto.imageComment}}</p></mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-md="33%">
                <mat-card-title *ngIf="is2PO()">2PO Mechanics & Individual Officiating Techniques</mat-card-title>
                <mat-card-title *ngIf="is3PO()">3PO Mechanics & Individual Officiating Techniques</mat-card-title>
                <mat-card-content><p>{{dto.mechanicsComment}}</p></mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-md="33%">
                <mat-card-title>Critera: Fouls & Violations</mat-card-title>
                <mat-card-content><p>{{dto.foulsComment}}</p></mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
            <mat-card fxFlex.gt-md="33%">
                <mat-card-title>Game Control and Management</mat-card-title>
                <mat-card-content><p>{{dto.gameManagementComment}}</p></mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-md="33%">
                <mat-card-title>Points to Keep</mat-card-title>
                <mat-card-content><p>{{dto.pointsToKeepComment}}</p></mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-md="33%">
                <mat-card-title>Points to Improve</mat-card-title>
                <mat-card-content><p>{{dto.pointsToImproveComment}}</p></mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row">
            <div style="margin: 10px;">
                <youtube-player #youtubePlayer [videoId]="dto.basketplanGame.youtubeId"></youtube-player>
            </div>
            <div fxFlex="stretch">
                <mat-card *ngFor="let videoComment of dto.videoComments; index as i;">
                    <mat-card-title>Video Comment #{{i + 1}}</mat-card-title>
                    <mat-card-content>
                        <p>{{videoComment.comment}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button (click)="play(videoComment.timestamp)" color="accent" mat-stroked-button>
                            Jump to Scene
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
