@import "../../variables";

p {
  white-space: pre-wrap;
}

.reportee {
  color: $primary-color;
}

.spacer {
  flex: 1 1 auto;
}

#video-comments-container {
  max-height: 440px;
  overflow-y: auto;
}

.reply {
  margin-left: 10px;
}

.repliedAt {
  margin-left: 10px;
  font-size: 10px;
}
