<mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipList aria-label="Tags">
        <mat-chip-row *ngFor="let tag of selectedTags" (removed)="removeTag(tag)">
            {{tag.name}}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        <input placeholder="Add tag..."
               #tagInput
               [formControl]="tagController"
               [matAutocomplete]="auto"
               [matChipInputFor]="chipList">
    </mat-chip-grid>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
        <mat-option *ngFor="let tag of filteredTags" [value]="tag">
            {{tag.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
