p {
    white-space: pre-wrap;
}

.spacer {
    flex: 1 1 auto;
}

#video-comments-container {
    max-height: 440px;
    overflow-y: auto;
}

.reply {
    margin-left: 10px;
}

.repliedAt {
    margin-left: 10px;
    font-size: 10px;
}

.new-reply {
    color: #c2185b;
}

.unsaved-hint {
    font-size: 12px;
}
