<h2 mat-dialog-title>Reply to Video Comment</h2>
<mat-dialog-content class="mat-typography">
    <p></p>
    <p *ngIf="!isLoggedIn()">You are replying as {{getReferee()}}.<br/>If you are a coach, please login first!</p>
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Your Reply</mat-label>
        <textarea [(ngModel)]="reply"
                  maxlength="1024"
                  cdkAutosizeMaxRows="5"
                  cdkAutosizeMinRows="2"
                  cdkTextareaAutosize
                  matInput></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button [mat-dialog-close]="">Cancel</button>
    <button color="primary" mat-flat-button [mat-dialog-close]="reply">Reply</button>
</mat-dialog-actions>
